<nav class="navbar">
  <div class="logo" (click)="scrollToSection('hero')" style="cursor:pointer">&lt;Dev/&gt;</div>
  <ul class="nav-links">
    <li><a (click)="scrollToSection('about')">About</a></li>
    <li><a (click)="scrollToSection('projects')">Projects</a></li>
    <li><a (click)="scrollToSection('skills')">Skills</a></li>
    <li><a (click)="scrollToSection('contact')">Contact</a></li>
  </ul>
  
  <a href="mon-cv.pdf" download="CV_Omar_Essafi.pdf" class="resume-btn">
    <span class="icon">↓</span> Resume
  </a>
</nav>