.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5%;
  background: #050505; //
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;

  .nav-links {
    display: flex;
    list-style: none;
    gap: 2rem;
    a {
      color: #a0a0a0;
      text-decoration: none;
      cursor: pointer;
      &:hover { color: white; }
    }
  }

  .resume-btn {
    background: transparent;
    color: white;
    border: 1px solid #333; // Bordure du design
    padding: 8px 16px;
    border-radius: 8px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: 0.3s;

    &:hover {
      background: rgba(255, 255, 255, 0.1);
      border-color: #8a8ab9; // Effet violet au survol
    }
  }
}